<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈哈</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="title" @keyup.enter="add">
        <p v-if="title.length<6">小于6个啦</p>
        <p v-else-if="title.length>8">大于8个啦</p>
        <p v-else>通过</p>
    </div>
<script src="vue.min.js"></script>
<script>
    let vm=new  Vue({
        el:'#app',
        data:{
            title:''
        },
        methods:{
            add(){
                console.log(12);
            }
        }
    })


</script>
</body>
</html>