<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈哈</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="todo"  @keyup.ctrl.haha="add">
        <ul>
            <li v-for="(item,index) in todos">{{index}}:{{item}} <span @click="remove(item)">删除</span></li>
        </ul>
    </div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    Vue.config.keyCodes.haha=13; //自定义键盘修饰符号
    let vm=new  Vue({
        el:'#app',
        data:{
            todo:'',
            todos:[]
        },
        methods:{
            add(){
                this.todos.push(this.todo)
                this.todo=''
            },
            remove(a){
                this.todos=this.todos.filter((item)=>item!==a)
            }
        }
    })


</script>
</body>
</html>