<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈哈</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div id="app">
        <div class="container" >
            搜索：<input type="text" class="control-label" v-model="query">
            <select v-model="selectitem">
                <option value="" disabled>请选择</option>
                <option value="0">英语</option>
                <option value="1">数学</option>
                <option value="2">语文</option>
            </select>
            <table class="table table-bordered table-hover text-center">
                <tr>
                    <th class="text-center" @click="sortfn(0)">英语</th>
                    <th class="text-center" @click="sortfn(1)">数学</th>
                    <th class="text-center" @click="sortfn(2)">语文</th>
                </tr>
                <tr v-for="score in newscores">
                    <!--v-html不能使用过滤器，过滤器只能在{{}}和v-text中使用-->
                    <td v-for="(i,index,index2) in score" v-html="changecolor(i,query,index2)">{{}}</td>
                </tr>
            </table>
        </div>
    </div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm=new  Vue({
        el:'#app',
        data:{
            type:0,
            arr:['english','math','chinese'],
            sort:1,
            scores:[
                {english:38,math:99,chinese:1},
                {english:18,math:103,chinese:12},
                {english:28,math:100,chinese:40},
                {english:68,math:100,chinese:6}
            ],
            query:'',
            selectitem:''
        },
        computed:{
            newscores(){
                return this.scores.sort((a,b)=>(a[this.arr[this.type]]-b[this.arr[this.type]])*this.sort)
            }
        },
        filters:{ //filters中的this是window

        },
        methods:{
            changecolor(v,query,index){
                console.log(v,query,index)
                let reg=new RegExp(query,'g');
                if(query && index==this.selectitem || !this.selectitem){
                    return v.toString().replace(reg,function () {
                        return `<span style="color:red">${arguments[0]}</span>`
                    })
                }

                return v;
            },
            sortfn(t){
                this.type=t;
                this.sort*=(-1);
            }
        }
    })


</script>
</body>
</html>