<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈哈</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div id="app">
        <div class=""container>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <caption class="text-center">商品列表</caption>
                    <p v-if="!products.length">暂无商品</p>
                   <tr v-if="products.length">
                        <th class="text-center text-danger">全选 <input type="checkbox" v-model="selectall"  @click="allfn()"></th>
                        <th class="text-center text-danger">商品</th>
                        <th class="text-center text-danger">单价</th>
                        <th class="text-center text-danger">数量</th>
                        <th class="text-center text-danger">小计</th>
                        <th class="text-center text-danger">操作</th>
                    </tr>
                    <tr  v-for="(item,index) in products">
                        <th><input type="checkbox" v-model="item.checked" @click="checkonefn"></th>
                        <th>{{item.producename}}</th>
                        <th>{{item.produceprice}}</th>
                        <th><input type="text" v-model="item.producenum"></th>
                        <th>￥{{item.produceprice * item.producenum | toFixed(3)}}</th>
                        <th>
                            <button @click="removefn(item)">删除</button>
                        </th>
                    </tr>
                    <!--sum()这种方法一般不会使用，因为性能低，只要页面上有任何一个数据变化sum都会重新执行-->
                    <tr><td colspan="6">总价：{{sum() | toFixed(2)}}</td></tr>
                </table>

                <form action="">
                    <div class="form-group">
                        <label for="producename"  class="control-label">商品名称</label>
                        <input type="text" id="producename" class="form-control"  v-model="product.producename">
                    </div>
                    <div class="form-group">
                        <label for="produceprice" class="control-label"  >商品价格</label>
                        <input type="text" id="produceprice" class="form-control" v-model="product.produceprice">
                    </div>
                    <div class="form-group">
                        <button class="btn" type="button" @click="addfn">添加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <!--vue-resource，他会将一个$http属性挂载在vm上-->
<script>
    let vm=new  Vue({
        el:'#app',
        data:{

            products:[],
            selectall:false,
            product:{
                "producename":"",
                "produceprice":""
            }
        },
        created(){
            this.initDate()
        },
        filters:{//过滤器
            toFixed(v,param1){
                return parseFloat(v).toFixed(param1)
            }
        },
        methods:{
            initDate(){
                this.$http.get('./prodata.json').then(function(r){
                    this.products=r.body
                    this.checkonefn();
                },function (e) {
                    console.log(e)
                })
            },
            removefn(v){
                this.products=this.products.filter(item=>item!==v)
            },
            allfn(){
                this.products.forEach(item=>item.checked=this.selectall)
            },
            checkonefn(){
                //找false  一个为false ,就为false
                this.selectall=this.products.every(item=>item.checked)
            },
            addfn(){//添加商品
                let defaultobj={"producenum":1,"checked":false}

                //es6
               let obj={};
                Object.assign(obj,defaultobj,this.product)
                this.products.push(obj)


                //es7  chrome60+ 才支持es7
                 /*this.products.push({...this.product,...defaultobj})*/
                this.checkonefn()

                //置空
                this.product={
                    "producename":"",
                    "produceprice":""
                }
            },
            sum(){
                console.log(1)
                return this.products.reduce((prev,next)=>prev+next.producenum*next.produceprice ,0)
            }
        }
    })


</script>
</body>
</html>