<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <span>{{carname}}</span>
        <input type="text" ng-model="inputname">
        <span ng-click="clickfn($event,this)">点击</span>
    </div>
    <script>     
        var app= angular.module('myApp',[]);//这是空数组是用来干嘛的
        app.controller('myCtrl',function($scope){
            $scope.carname='1234';
            console.log(this)
            $scope.clickfn=function(e,abc){
                console.log(e);
                console.log(abc)
                $scope.carname='hello ' + $scope.inputname +'!'
            }
        })
    </script>
</body>
</html>