<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈哈</title>
</head>
<body>
    <div id="app">
        {{count}}
        <child :count="count" @fnson="fnparent"></child>
    </div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm=new  Vue({
        el:'#app',
        data:{
            count:1
        },
        methods:{
            fnparent(val){
                this.count=val
            }
        },
        components:{
            child:{
                data(){
                    return {
                        coun2:0
                    }
                },
                'template':'<div>{{count}} <button @click="add">+</button></div>',
                props:['count'],
                methods:{
                    add(){
                        this.count2=this.count+1;
                        this.$emit('fnson',this.count2)
                    }
                }
            }
        }
    })


</script>
</body>
</html>